<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DxBot.ru</title>
    <!-- Core CSS -->
    <link href="{% static 'assets/node_modules/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css'%}" rel="stylesheet">
    <link href="{% static 'assets/node_modules/morrisjs/morris.css'%}" rel="stylesheet">
    <link href="{% static 'assets/node_modules/c3-master/c3.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/colors/default.css'%}" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">
    <!-- Loader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">DxBot.ru</p>
        </div>
    </div>

    <div id="main-wrapper">
        <!-- Header -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'main' %}">
                        <img src="{% static 'assets/images/logo-icon.png'%}" alt="logo" class="dark-logo">
                        <img src="{% static 'assets/images/logo-text.png'%}" alt="text" class="dark-logo">
                    </a>
                </div>

                <div class="navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown">
                                <img src="{% static 'assets/images/users/1.jpg'%}" alt="user" class="profile-pic">
                                <span>{{user.username}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Sidebar -->
        <aside class="left-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li><a href="{% url 'main' %}"><i class="fa fa-dashboard"></i>Панель</a></li>
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Профиль</a></li>
                    <li><a href="{% url 'create_bot' %}"><i class="fa fa-robot"></i>Боты</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Page wrapper -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- Charts -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h5>СТАТИСТИКА ИСПОЛЬЗОВАНИЯ 📈</h5>
                                <div id="sales-chart" style="height: 355px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div id="visitor" style="height:260px;"></div>
                                <div class="text-center mt-3">
                                    <span class="badge bg-primary">Активные пользователи</span>
                                    <span class="badge bg-success">Все пользователи</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/node_modules/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'assets/node_modules/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js'%}"></script>
    <script src="{% static 'js/waves.js'%}"></script>
    <script src="{% static 'js/sidebarmenu.js'%}"></script>
    <script src="{% static 'js/custom.min.js'%}"></script>
    <script src="{% static 'assets/node_modules/raphael/raphael-min.js'%}"></script>
    <script src="{% static 'assets/node_modules/morrisjs/morris.min.js'%}"></script>
    <script src="{% static 'assets/node_modules/d3/d3.min.js'%}"></script>
    <script src="{% static 'assets/node_modules/c3-master/c3.min.js'%}"></script>
    <script src="{% static 'js/dashboard1.js'%}"></script>

    <!-- User Data -->
    <script>
        const userData = JSON.parse('{{ user_data|safe }}');
        const userDataCount = JSON.parse('{{ user_data_count|safe }}');
    </script>
</body>
</html>